<!DOCTYPE html>
<html lang="sv">
<head>
	<meta charset="UTF-8">
	<title>Lunch på Dockan?</title>
	<meta name="description" content="Dockan, Malmö, lunch, i dag?">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}?v=10">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Dockan?"> 
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='icon-76.png') }}" sizes="76x76">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='icon-120.png') }}" sizes="120x120">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='icon-152.png') }}" sizes="152x152">
</head>

<body>
	<header role="banner">
    	<h1>Lunch på Dockan?</h1>
	</header>
    
	<main role="main">
    {% for r in restaurants %}
    	<div class="restaurant">
    		<h2>
				<a href="{{ r.url }}">{{ r.get_name() }}</a>
			</h2>
			<ul>
				{% for c in r.get_courses() %}
					<li>{{ c }}</li>
				{% endfor %}
			</ul>
    	</div>
    {% endfor %}
    </main>
	
	<footer role="contentinfo">
		<p>
			Källkod på <a href="https://github.com/fohlin/dockanlunch">GitHub</a>.
			<br>
			Av <a href="http://fredrikohlin.com/">Fredrik Ohlin</a>.
		</p>
	</footer>
</body>
</html>
