main, footer{
    display: block;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:1em;
    margin:0;
    background-color:#fff;
    color:#000;
}
h1{
    font-size:1.5em;
    font-weight:100;
}
h2{
    font-size:1.125em;
    font-weight:300;
}
h1, h2{
    margin:0;
}
header, footer, h2{
    text-align:center;
}
a{
    color:#1D5FFA;
    text-decoration:none;
}

ul{
    list-style:none;
    padding-left:0;
}
p, li{
    font-weight:200;
}
li{
    margin-bottom:0.75em;
}

header{
    padding:1.25em 0 0.5em;
    background-color:#F6F6F6;
}

div.restaurant{
    padding:0.75em 0.75em 0.5em;
}
div.restaurant:nth-child(1){
    background-color:#F6F6F6;
}
div.restaurant:nth-child(2){
    background-color:#eee;
}

footer{
    font-size:0.8em;
    padding:1.5em 0;
    text-transform:uppercase;
    background-color:#F6F6F6;
}

@media screen and (height:568px), screen and (height:480px){
    header{
		padding-top:1.75em;
		background-color:#ccc;
		color:#fff;
		position: -webkit-sticky;
		top:0;
	}
	header h1{
		font-weight:300;
		font-size:1em;
	}
	.tip{
	    display:none;
	}
}
